/* ----  cart ---- */
.cart {
  padding-top: 30px;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 0;
}

.cartItem {
  background-color: white;
  width: 330px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 180px;
  box-shadow: -1px 5px 15px 0 rgba(0, 0, 0, 0.75);
}

.products {
  /* max-height: 80vh;
  overflow: scroll; */
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

.validCart {
  display: flex;
  width: 330px;
  border-radius: 5px;
  background: #00cdbd;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  justify-content: center;
  /* flex-grow: 1; */
  height: 50px;
  flex: 1 1;
}

.btnDisabled {
  background: #bac3c3;
  color: #8b9a9b;
}

.emptyCart {
  color: rgb(125, 130, 130);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 12px 0;
}

.subTotal {
  border-bottom: 1px solid #e9ebeb;
  padding: 10px 0;
}

.sumAll {
  font-weight: bold;
}

.products {
  overflow: auto;
  max-height: calc(100vh - 300px);
}

.product-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 12px 0;
}

.product-item-middle {
  flex: 1 1;
  padding-left: 5px;
}

.product-item-right {
  align-self: flex-end;
  justify-content: right;
}

.product-Quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 50px;
}

.product-item-count {
  color: #808484;
}
