header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}

.wrapper {
  width: 1200px;
}

.logo {
  height: 50px;
}

.restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.wrapperResto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75rem;
  height: 200px;
}

.restoInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 850px;
  padding-right: 40px;
}

.restoTitle {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 0;
}

.restoDesc {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: hidden;
  margin: 10px 0;
}

.colImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 350px;
}
.restoImg {
  height: 200px;
  border-radius: 5px;
}
/* ---------------- */

/* ----  menus ---- */
.container {
  background-color: rgb(230, 232, 232);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 850px;
}

.wrapperMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catMenu {
  width: 100%;
  padding: 10px 0;
}

.titleMenu {
  font-size: 24px;
  font-weight: bold;
}

.card {
  height: 130px;
  width: 380px;
  padding: 10px;
  background-color: white;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  cursor: pointer;
}

.titleCard {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 8px;
}

.descCard {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: 16px;
}

.priceCard {
  color: #808484;
  margin: 0;
}

.card-infos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.favorite {
  display: flex;
  color: #ff8000;
  font-weight: bold;
  font-size: 0.8rem;
  align-self: center;
  padding: 0 10px;
}

.favoriteText {
  color: #ff8000;
  font-weight: bold;
  font-size: 0.8rem;
  align-self: center;
  padding: 0 10px;
}

.cardImage {
  display: flex;
  max-width: 130px;
  max-height: 130px;
}

.mealImg {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}
